{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <title>Dispatch Documents</title>
    <style>
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 7px;
  height: 7px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
    </style>
  </head>
  <body style="background-color: rgb(216, 240, 250);">
    <div class="form-area bg-dark text-white rounded-lg mt-5 w-50 ml-5 p-4 pl-5">
    <h1>Dispatch Documents</h1>
    <div class="messages my-3">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
        {% endif %}
    </div>
    <div>
        <a onClick="window.location.reload(true);" class="btn btn-danger">Reset</a>
        <a href="/bank/" class="btn btn-info">Dashboard</a>
    </div>

    <div class="w-75 bg-white my-3" style="height: 2px;"></div>

    
    <form action="" method="POST">
    {% csrf_token %}
        <select id="id_fc_search" name="fc" style="width:300px">
            <option value="none" selected disabled hidden> 
                Select Loan
            </option> 
        </select>
        <br>
        <div class="buttons my-4">
            <input type="submit" name="searchfc" class="btn btn-info" value="Search by account">
            <input type="submit" name="searchfc" class="btn btn-success" value="Search all">
        </div>

    </form>
    </div>

<table class="mb-0 table table-hover" id="accounts-table">
                <thead>
                    <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Account Number</th>
                        <th scope="col">Application Date</th>
                        <th scope="col">Recieved</th>
                        <th scope="col">Last Deposit</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Dispatch Documents</th>
                    </tr>
                </thead>
                <tbody>
                        {% for a in data %}
                    <tr>
                            <td> {{a.finance.person.first_name}} {{a.finance.person.last_name}} </td>
                            <td> {{a.finance.loan_account_number}} </td>
                            <td> {{a.finance.applied_date}} </td>
                            <td> {{a.recieved}} </td>
                            <td> {{a.collection_finance_set.last.created_time}} - {{a.collection_finance_set.last.loan_emi_received}} </td>
                            <td> {{a.total}} </td>
                            <td> {{a.status}} </td>
                            <td>
                                {% if a.completed %}
                                    {% if a.dispatched %}
                                        <button class="btn btn-secondary">DISPATCHED</button>
                                    {% else %}
                                        <button class="btn btn-primary" id="{{a.finance.loan_account_number}}" onclick="Dispatch(this.id)">Dispatch Documents</button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn btn-warning">Loan not complete</button>
                                {% endif %}
                            </td>
                    </tr>
                        {% endfor %}
                </tbody>
    </table>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'employee/printdocs.js' %}"></script> {% endcomment %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function (){
    $.get('/bank/doc_data/fc', function(data){
        var data_json = JSON.parse(data);
        var sampleArray = [];
        for (var i=0; i < data_json.data.dlist_1.length; i++){
            var pk = data_json.data.dlist_1[i];
            var nom_num = data_json.data.dlist_2[i];
            var name = data_json.data.dlist_3[i];
            dataobject = {
                id: pk,
                text: pk + ' - ' + name + ' - ' + nom_num
            };
            sampleArray.push(dataobject);
        }

        $("#id_fc_search").select2({ data: sampleArray });
    });
});
</script>
<script>
    $(document).ready( function () {
    $('#accounts-table').DataTable();
} );
</script>
<script>
    function Dispatch(lan){
        console.log(`bank/dispatchdocapi/${lan}`)
        $.get(`/bank/dispatchdocapi/${lan}`, function(data){
        var data = JSON.parse(data);
        if(data){ // meaning that everyhting went ok
                // do something
        alert(`Documents dispatched for account number: ${lan}, printing certificate...`)
        window.location.href = data.url;

        }
        else {
            alert('Something went wrong')
        }
    });
    }
</script>
  </body>
</html>